amqp==5.1.1
anyio==3.6.1
argcomplete==2.0.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
aws-cdk.assets==1.158.0
aws-cdk.aws-applicationautoscaling==1.158.0
aws-cdk.aws-autoscaling-common==1.158.0
aws-cdk.aws-cloudwatch==1.158.0
aws-cdk.aws-codeguruprofiler==1.158.0
aws-cdk.aws-codestarnotifications==1.158.0
aws-cdk.aws-ec2==1.158.0
aws-cdk.aws-ecr==1.158.0
aws-cdk.aws-ecr-assets==1.158.0
aws-cdk.aws-efs==1.158.0
aws-cdk.aws-events==1.158.0
aws-cdk.aws-iam==1.158.0
aws-cdk.aws-kms==1.158.0
aws-cdk.aws-lambda==1.158.0
aws-cdk.aws-logs==1.158.0
aws-cdk.aws-s3==1.158.0
aws-cdk.aws-s3-assets==1.158.0
aws-cdk.aws-signer==1.158.0
aws-cdk.aws-sns==1.158.0
aws-cdk.aws-sqs==1.158.0
aws-cdk.aws-ssm==1.158.0
aws-cdk.cloud-assembly-schema==1.158.0
aws-cdk.core==1.158.0
aws-cdk.cx-api==1.158.0
aws-cdk.region-info==1.158.0
Babel==2.9.1
beautifulsoup4==4.11.1
billiard==3.6.4.0
black==22.3.0
boto3==1.24.1
botocore==1.27.1
CacheControl==0.12.11
cachy==0.3.0
cattrs==22.1.0
celery==5.2.6
certifi==2022.6.15
charset-normalizer==2.1.0
cleo==0.8.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clikit==0.6.2
cloudinary==1.29.0
colorama==0.4.5
comtypes==1.1.11
constructs==3.4.25
coreapi==2.3.3
coreschema==0.0.4
coverage==6.4.4
crashtest==0.3.1
decorator==4.4.2
Deprecated==1.2.13
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.6
django-celery-beat==2.2.1
django-cors-headers==3.11.0
django-heroku==0.3.1
django-money==2.1.1
django-rest-passwordreset==1.2.1
django-timezone-field==4.2.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-yasg==1.20.0
engineering-notation==0.6.0
exceptiongroup==1.0.0rc7
fastapi==0.78.0
filelock==3.7.1
Flask==2.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
google-search-results==2.4.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.0
humanize==4.0.0
idna==3.3
image==1.5.33
imageio==2.21.1
imageio-ffmpeg==0.4.7
importlib-metadata==4.12.0
inflection==0.5.1
insta-scrape==2.1.2
instaloader==4.9.2
instascrape==0.1
isort==5.10.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.0
jsii==1.59.0
keyring==23.5.1
kombu==5.2.4
lockfile==0.12.2
lxml==4.9.1
mangum==0.15.0
MarkupSafe==2.1.1
MouseInfo==0.1.3
moviepy==1.0.3
msgpack==1.0.3
mypy-extensions==0.4.3
mysqlclient==2.1.1
numpy==1.23.2
opencv-python==4.6.0.66
packaging==21.3
pastel==0.2.1
pathspec==0.9.0
pexpect==4.8.0
Pillow==9.2.0
pipenv==2022.1.8
pipx==1.0.0
pkginfo==1.8.2
platformdirs==2.5.2
poetry==1.1.13
poetry-core==1.0.8
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psycopg2==2.9.3
ptyprocess==0.7.0
publication==0.0.3
py-moneyed==1.2
PyAutoGUI==0.9.53
pydantic==1.9.1
PyGetWindow==0.0.9
PyJWT==2.4.0
pylev==1.4.0
PyMsgBox==1.0.9
pyparsing==3.0.8
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-crontab==2.6.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytweening==1.0.4
pytz==2021.3
pywin32-ctypes==0.2.0
redis==4.2.2
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlparse==0.4.2
starlette==0.19.1
tk==0.1.0
tk-tools==0.16.0
tomli==2.0.1
tomlkit==0.11.0
tornado==6.1
tqdm==4.64.0
twilio==7.8.2
typing_extensions==4.2.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
userpath==1.8.0
uvicorn==0.17.6
validate-email==1.3
vine==5.0.0
virtualenv==20.15.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
whitenoise==6.0.0
wrapt==1.14.0
youtube-transcript-api==0.4.4
zipp==3.8.1
